<div class="headerContainer">

	<div>Edit Information</div>

	<mat-divider></mat-divider>

</div>

<div class="gridBoxContainer">
	<div class="cardBox">
		<mat-card fxLayout="column" fxLayoutAlign="center">
			<form [formGroup]="employeeForm" novalidate>
				<mat-card-content class="card-content">
					<p>
						<mat-form-field appearance="outline">
							<mat-label>Name</mat-label>
							<input matInput formControlName="name">
							<mat-icon matSuffix>assignment_ind</mat-icon>
						</mat-form-field>
					</p>
					<p>
						<mat-form-field appearance="outline">
							<mat-label>Position</mat-label>
							<input matInput formControlName="position">
							<mat-icon matSuffix>work_outline</mat-icon>
						</mat-form-field>
					</p>
					<p>
						<mat-form-field appearance="outline">
							<mat-label>Location</mat-label>
							<mat-select formControlName="location" required>
								<mat-option value="Korea">Korea</mat-option>
								<mat-option value="Singapore">Singapore</mat-option>
								<mat-option value="England">England</mat-option>
							  </mat-select>
							<mat-icon matSuffix>find_in_page</mat-icon>
						</mat-form-field>
					</p>
					<p>
						<mat-form-field appearance="outline">
							<mat-label>Start Date</mat-label>
							<input matInput [matDatepicker]="picker1" formControlName="emp_start_date">
							<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
							<mat-datepicker #picker1></mat-datepicker>
						</mat-form-field>
					</p>
					<p>
						<mat-form-field appearance="outline">
							<mat-label>End Date</mat-label>
							<input matInput [matDatepicker]="picker2" formControlName="emp_end_date">
							<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
							<mat-datepicker #picker2></mat-datepicker>
						</mat-form-field>
					</p>
					<p>
						<mat-form-field appearance="outline">
							<mat-label>Annual Leave</mat-label>
							<input matInput formControlName="annual_leave">
							<mat-icon matSuffix>event</mat-icon>
						</mat-form-field>
					</p>
					<p>
						<mat-form-field appearance="outline">
							<mat-label>Sick Leave</mat-label>
							<input matInput formControlName="sick_leave">
							<mat-icon matSuffix>event</mat-icon>
						</mat-form-field>
					</p>
					<p>
						<mat-form-field appearance="outline">
							<mat-label>Replacement Day</mat-label>
							<input matInput formControlName="replacementday_leave">
							<mat-icon matSuffix>event</mat-icon>
						</mat-form-field>
					</p>
				</mat-card-content>
			</form>
			<mat-card-actions fxLayoutAlign="center">
				<button mat-raised-button color="primary" (click)="updateInfo();">Edit</button>
				<button mat-raised-button (click)="backManagerList();">Cancel</button>
			</mat-card-actions>
		</mat-card>
	</div>
</div>