.mainContentContainer {
  padding: 40px 40px;
  margin: 0 auto;
  height: 100%;
}

.mainTitle {
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
}

.historyTableBox {
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  // min-width: 1200px;
}

.historyTable {
  width: 100%;
  text-align: center;

  th,
  td {
    text-align: center;
  }

  box-shadow: none;
}

.confirmBtn {
  background: #00154f;
  color: #fff;
  padding: 0 30px;
}

.rejectBtn {
  background: #ff4081;
  color: #fff;
  padding: 0 30px;
}

.mat-header-row {
  // background-color: #273da0;
  background-color: #00154f;

  th {
    color: #fff;
  }
}

// .cancelBtn{
// 	background-color: gray;
// 	color: white;
// }
//----------------pending leave detail style--------------------------

::ng-deep .mat-dialog-container {
  padding: 40px !important;
}

.modal-table {
  font-size: 13px;
  text-align: left;
  border-top: 1px solid rgb(221, 221, 221);
  border-collapse: collapse;
}

.modal-table tr {
  height: 40px;
}

.modal-table th {
  padding: 16px;
  font-weight: 400;
  border-bottom: 1px solid rgb(221, 221, 221);
  border-left: 1px solid rgb(221, 221, 221);
}

.modal-table td {
  border-bottom: 1px solid rgb(221, 221, 221);
  border-left: 1px solid rgb(221, 221, 221);
  padding: 16px 24px 16px 16px;
  white-space: pre-line;
}

.modal-table th:first-child,
td:first-child {
  border-top: none;
  border-left: none;
}

.modal-btn {
  margin-top: 20px;
  text-align: center;

  button {
    padding: 0px 40px;
  }
}

.leave-request-detail {
  cursor: pointer;
  font-weight: 450;
  text-decoration: underline;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (max-width: 780px) {
  .mainContentContainer {
    padding: 10px 10px;
  }

  .mainTitle {
    margin: 20px auto;
  }

  .historyTable {
    word-break: break-all;

    th {
      padding: 0 10px;
    }

    td {
      padding: 0 10px;
      font-size: 0.8em;
    }

    .btnContent {
      display: flex;
      flex-direction: column !important;

      button {
        margin-right: 0px !important;
        padding: 3px;
        margin: 5px;
      }
    }
  }
}
