<div class="mainContentContainer">
  <div class="mainContent">
    <div fxLayout="row">
      <div class="mainTitle">Find My Manager</div>
    </div>
    <form [formGroup]="emailForm" (ngSubmit)="emailForm.valid && findManager()">
      <div class="selectContainer">
        <div class="selectBox">
          <span class="selectLabel">
            <label for="type" class="optionLabel">Email</label>
          </span>
          <mat-form-field color="accent" appearance="outline" style="min-width:300px;" class="selectInput">
            <mat-label>E-MAIL</mat-label>
            <!-- https://stackoverflow.com/questions/5601647/html5-email-input-pattern-attribute -->
            <input type="email" spellcheck="false" matInput name="id" formControlName="email"
              pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
            @if(emailForm.controls['email'].errors?.['required']){
            <mat-error>an e-mail is required</mat-error>
            }
            @if(emailForm.controls['email'].errors?.['pattern']){
            <mat-error>Please input a correct e-mail!
            </mat-error>
            }


          </mat-form-field>
          <button mat-raised-button color="primary" class="submit-button" [disabled]="!emailForm.valid">search</button>
        </div>
      </div>
    </form>

    <div class="historyTableBox" *ngIf="manager">

      <table mat-table [dataSource]="manager" class="mat-elevation-z8 historyTable">

        <ng-container matColumnDef="name" class="historyWrap">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email" class="historyWrap">
          <th mat-header-cell *matHeaderCellDef> email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="acceptButton" class="historyWrap">
          <th mat-header-cell *matHeaderCellDef> . </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" color="primary" (click)="addManager()">
              Add Manager
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>