<div class="mainContentContainer">
  <div class="mainContent">
    <div fxLayout="row">
      <div class="mainTitle">My Leave Status</div>
    </div>

    <div
      class="leaveContent"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="20px"
    >
      <div class="leaveContainer">
        <div class="leaveBox" fxLayout="column" fxLayoutGap="20px">
          <div class="leaveSubSection">
            <span class="fontBold">Annual Leave</span>
          </div>
          <mat-divider></mat-divider>
          <div fxLayout="row">
            <div class="leaveSubSection">Total</div>
            <div class="leaveSubSection_sec daysSection">
              <span class="fontBold"> {{ leaveInfo?.annual_leave || 0 }} </span
              >Day(s)
            </div>
          </div>

          <div fxLayout="row">
            <div class="leaveSubSection">Taken</div>
            <div class="leaveSubSection_sec daysSection">
              <span class="fontBold">
                {{ leaveInfo?.used_annual_leave || 0 }} </span
              >Day(s)
            </div>
          </div>

          <div fxLayout="row">
            <div class="leaveSubSection">Balance</div>
            <div class="leaveSubSection_sec daysSection">
              <span class="fontBold">
                {{
                  leaveInfo?.annual_leave - leaveInfo?.used_annual_leave || 0
                }} </span
              >Day(s)
            </div>
          </div>
        </div>
      </div>

      <div class="leaveContainer" *ngIf="userCompanyInfo()?.isRollover">
        <div class="leaveBox" fxLayout="column" fxLayoutGap="20px">
          <div class="leaveSubSection">
            <span class="fontBold">Rollover</span>
          </div>
          <mat-divider></mat-divider>
          <div fxLayout="row">
            <div class="leaveSubSection">Total</div>
            <div class="leaveSubSection_sec daysSection">
              <span class="fontBold"> {{ leaveInfo?.rollover || 0 }} </span
              >Day(s)
            </div>
          </div>

          <div fxLayout="row">
            <div class="leaveSubSection">Taken</div>
            <div class="leaveSubSection_sec daysSection">
              <span class="fontBold"> {{ leaveInfo?.used_rollover || 0 }} </span
              >Day(s)
            </div>
          </div>

          <div fxLayout="row">
            <div class="leaveSubSection">Balance</div>
            <div class="leaveSubSection_sec daysSection">
              <span class="fontBold">
                {{ leaveInfo?.rollover - leaveInfo?.used_rollover || 0 }} </span
              >Day(s)
            </div>
          </div>
        </div>
      </div>

      <div class="leaveContainer">
        <div class="leaveBox" fxLayout="column nowrap" fxLayoutGap="20px">
          <div class="leaveSubSection">
            <span class="fontBold">Sick Leave</span>
          </div>
          <mat-divider></mat-divider>
          <div fxLayout="row">
            <div class="leaveSubSection">Total</div>
            <div class="leaveSubSection_sec daysSection">
              <span class="fontBold"> {{ leaveInfo?.sick_leave || 0 }} </span
              >Day(s)
            </div>
          </div>

          <div fxLayout="row">
            <div class="leaveSubSection">Taken</div>
            <div class="leaveSubSection_sec daysSection">
              <span class="fontBold">
                {{ leaveInfo?.used_sick_leave || 0 }} </span
              >Day(s)
            </div>
          </div>

          <div fxLayout="row">
            <div class="leaveSubSection">Balance</div>
            <div class="leaveSubSection_sec daysSection">
              <span class="fontBold">
                {{
                  leaveInfo?.sick_leave - leaveInfo?.used_sick_leave || 0
                }} </span
              >Day(s)
            </div>
          </div>
        </div>
      </div>

      <div class="leaveContainer" *ngIf="userCompanyInfo()?.isReplacementDay">
        <div class="leaveBox" fxLayout="column nowrap" fxLayoutGap="20px">
          <div class="leaveSubSection">
            <span class="fontBold">Replacement Day</span>
          </div>
          <mat-divider></mat-divider>
          <div fxLayout="row">
            <div class="leaveSubSection">Total</div>
            <div class="leaveSubSection_sec daysSection">
              <span class="fontBold">
                {{ leaveInfo?.replacement_leave || 0 }} </span
              >Day(s)
            </div>
          </div>

          <div fxLayout="row">
            <div class="leaveSubSection">Taken</div>
            <div class="leaveSubSection_sec daysSection">
              <span class="fontBold">
                {{ leaveInfo?.used_replacement_leave || 0 }} </span
              >Day(s)
            </div>
          </div>

          <div fxLayout="row">
            <div class="leaveSubSection">Balance</div>
            <div class="leaveSubSection_sec daysSection">
              <span class="fontBold">
                {{
                  leaveInfo?.replacement_leave -
                    leaveInfo?.used_replacement_leave || 0
                }} </span
              >Day(s)
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="leaveContainer">
				<div class="leaveBox" fxLayout="column nowrap" fxLayoutAlign="center center" style="height: 153px;">
					<div class="fontBold" style="font-size:28px;">{{ currentDate | date: 'YYYY.MM' }}</div>
				</div>
			</div> -->
    </div>

    <div fxLayout="row">
      <div class="historyTitle">
        <span>History of Leave Request/Usage</span>
        <span class="inHistoryTitle"
          >You can check the history only requested within 3 months.</span
        >
      </div>
    </div>

    <div class="historyTableBox">
      <table
        mat-table
        [dataSource]="dataSource()"
        class="mat-elevation-z8 historyTable"
        matSort
        matSortActive="createdAt"
        matSortDisableClear
        matSortDirection="desc"
      >
        <!--- Note that these columns can be defined in any order.
							The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="createAt">
          <th mat-header-cell *matHeaderCellDef>Request Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.createdAt | date : "YYYY-MM-dd" }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="leaveStartDate">
          <th mat-header-cell *matHeaderCellDef>Period</th>
          <td mat-cell *matCellDef="let element">
            {{ element.leave_start_date | date : "YYYY-MM-dd" }} ~
            {{ element.leave_end_date | date : "YYYY-MM-dd" }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef>Day(s)</th>
          <td mat-cell *matCellDef="let element">
            {{ element.leaveDuration }} day
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="leaveType">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let element">
            <div
              class="leave-request-detail"
              (click)="openDialogPendingLeaveDetail(element)"
            >
              {{ viewType[element.leaveType] }}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="approver">
          <th mat-header-cell *matHeaderCellDef>Approver</th>
          <td mat-cell *matCellDef="let element">{{ element.approver }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td
            mat-cell
            *matCellDef="let element"
            [ngClass]="{
              approve: element.status == 'approve',
              reject: element.status == 'reject'
            }"
          >
            {{ element.status }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="9999">No data</td>
        </tr>
      </table>
      <mat-paginator
        [length]="resultsLength()"
        [pageSize]="pageSize()"
        class="historyPaginator"
        [pageSizeOptions]="[5, 10, 15]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
</div>
