.mainTitle{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

// 상위 3개 버튼
.meeting-start-btn{
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", "Helvetica Neue", "sans-serif";
    color: #fff;
    text-align:center;
    border: 1px solid rgba(0,0,0,.12);
    background-color: #0a2547;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    border-radius: 3px;
    padding: 6px 6px;
    cursor: pointer;
}

.meeting-close-btn{
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", "Helvetica Neue", "sans-serif";
    color: #fff;
    text-align:center;
    border: 1px solid rgba(0,0,0,.12);
    background-color: #969696;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    border-radius: 3px;
    padding: 6px 6px;
    cursor: pointer;
}
.meeting-delete-btn{

    // color: #fff;
    // border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", "Helvetica Neue", "sans-serif";
    color: #fff;
    text-align:center;
    border: 1px solid rgba(0,0,0,.12);
    background-color: #3f51b5;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    border-radius: 3px;
    padding: 6px 6px;
    cursor: pointer;
    margin-left: 10px;

}



::ng-deep .mat-dialog-container{
    padding: 40px !important;
}
.modal-table{
    font-size: 13px;
    text-align: left;
    border-top: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    
}

.modal-table tr {
    height: 40px;
}

.modal-table th {
    padding: 16px;
    font-weight: 400;
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
}

.modal-table td {
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
    padding: 16px 24px 16px 16px;
    white-space: pre-line;
}


.modal-table th:first-child, td:first-child {
    border-top: none;
    border-left: none;
}

.modal-btn{
    margin-top: 20px;
    text-align: center;

    button{
        padding: 0px 40px;
    }
}

.modal-btn-reject{
    margin-top: 20px;
    text-align: center;

    button{
        padding: 0 40px;
        margin: 0 15px;
    }
}


.enterBtn {
    background: #0a2547;
    color: #fff;
    padding: 0 30px;
}

.cancelBtn {
    background: #969696;
    color: #fff;
    padding: 0 30px;
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (max-width: 780px) {

    .meeting-start-btn {
        max-width: 18% !important;
    }

    .meeting-close-btn { 
        max-width: 18% !important;
    }

    .meeting-delete-btn {
        max-width: 18% !important;
    }

    td {
        word-break: break-all;
    }
}

::ng-deep.mat-dialog-container {
    @media  screen and (max-width: 780px) {
        padding: 15px !important;
    }
}