<div fxLayout="row">
    <div class="mainTitle" fxFlex="70"> Meeting Reservation</div>
    <span class="meeting-start-btn" fxFlex="15" *ngIf="!flagBtn && isHost" (click)="openMeeting()">Open</span>
    <span class="meeting-close-btn" fxFlex="15" *ngIf="flagBtn && isHost" (click)="closeMeeting()">Close</span>
    <span class="meeting-delete-btn" fxFlex="15" *ngIf="isHost" (click)="deleteMeeting()">Delete</span>
</div>
<table class="modal-table">
    <colgroup>
        <col style="width:120px">
        <col style="width:380px">
    </colgroup>
    <tbody>
        <tr>
            <th>
                Title
            </th>
            <td >
                {{ meetingInfo.meetingTitle }}
            </td>
        </tr>
        <tr>
            <th>
                Description
            </th>
            <td >
                {{ meetingInfo.meetingDescription }}
            </td>
        </tr>
        <tr>
            <th>
                Host
            </th>
            <td>
                {{ enlistedMemberName[0] }}
            </td>
        </tr>
        <tr>
            <th>
                Start date
            </th>
            <td>
                {{ meetingInfo.start_date }}
            </td>
        </tr>
        <tr>
            <th>
                Start Time
            </th>
            <td>
                {{ meetingInfo.start_time }}
            </td>
        </tr>
        <tr>
            <th>
                Status
            </th>
            <td>
                {{ meetingInfo.status }}
            </td>
        </tr>
        <tr>
            <th>
                Member
            </th>
            <td>
                {{ enlistedMemberName }}
            </td>
        </tr>
        
    </tbody>
</table>


<!-- 
<div class="modal-btn" *ngIf="isHost && !isMeetingOpen">
    <button color="primary" mat-raised-button (click)="openMeeting()"> Meeting Start </button>
</div>
<div class="modal-btn" *ngIf="isHost && isMeetingOpen">
    <button color="primary" mat-raised-button (click)="closeMeeting()"> Meeting Close </button>
</div>
<div class="modal-btn" *ngIf="isHost">
    <button class="rejectBtn" mat-raised-button (click)="deleteMeeting()"> Meeting Delete </button>
</div> -->

<div class="modal-btn-reject">
    <button class="enterBtn" (click)="enterMeeting()" mat-raised-button> Enter </button>
    <button class="cancelBtn" mat-raised-button mat-dialog-close> Cancel </button>
</div>