.mainTitle {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
}

.dialogContainer {
	color: #636363;
	width: 300px;
	height: 150px;
	padding: 15px;
}

.btnBox {
	margin-top: 20px;
}

.confirmBtn {
	background: #00154f;
	color: #fff;
	padding: 0 30px;
}

.cancelBtn {
	background: #a3a3a3;
	color: #fff;
	padding: 0 30px;
}

.w-100p {
	width: 100%;
}

.mat-form-field {
	margin: 0px;
}

@media screen and (max-width: 780px) {
	.dialogContainer {
		width: 100% !important;
		padding: 0;
	}
}
