<!-- angular flex:
      flex layout: https://github.com/angular/flex-layout
      fxLayout: https://github.com/angular/flex-layout/wiki/fxLayout-API
      fxLayoutAlign: https://github.com/angular/flex-layout/wiki/fxLayoutAlign-API
      fxFlex: https://github.com/angular/flex-layout/wiki/fxFlex-API -->

<!-- route link -->
<div *ngIf="isLink(item)">
  <a *ngIf="(item.isManager == flag.isManager || flag.isManager) && (item.isReplacementDay == flag.isReplacementDay || flag.isReplacementDay) "
    [routerLinkActiveOptions]="item.routerLinkActive || { exact: false }"
    [routerLink]="item.route"
    class="item"
    fxLayout="row"
    fxLayoutAlign="start center"
    matRipple
    routerLinkActive="active"> 
    <mat-icon *ngIf="level === 0"  class="item-icon" fxFlex="none"> {{item.icon}} </mat-icon>
    <span class="item-label" fxFlex="auto">{{ item.label }}</span>
  </a>
</div>




<!-- drop down menu -->
<ng-container *ngIf="isDropdown(item)">
  <div *ngIf="(item.isManager == flag.isManager || flag.isManager)">

    <div (click)="toggleOpen()"
        [class.active]="isOpen || isActive"
        [class.open]="isOpen"
        class="item"
        fxLayout="row"
        fxLayoutAlign="start center"
        matRipple>
      <!-- <mat-icon *ngIf="level === 0" fontSet="material-icons-outlined" class="item-icon" fxFlex="none">{{item.icon}}</mat-icon> -->
      <mat-icon *ngIf="level === 0" class="item-icon" fxFlex="none">{{item.icon}}</mat-icon>
      <span class="item-label" fxFlex="auto">{{ item.label }}</span>
      <!-- arrow icon -->
      <mat-icon  class="item-dropdown-icon" fxFlex="none">keyboard_arrow_right</mat-icon>
    </div>

    <!-- dropdown menu 하위 list: animation으로 처리 -->
    <div [@dropdown]="isOpen?'open':'closed'" class="item-dropdown">
      <!-- kje: recursive component (dropdown menu의 하위 children)
      https://netbasal.com/recursion-in-angular-components-1cd636269b12 -->
      <po-sidenav-item *ngFor="let subItem of item.children" [item]="subItem" [flag]="flag" [level]="level + 1"></po-sidenav-item>
    </div>
  </div>
</ng-container>


<!-- Subheading menu -->
<ng-container *ngIf="isSubheading(item)">
  <div class="subheading mat-caption">{{ item.label }}</div>
  <po-sidenav-item *ngFor="let subItem of item.children" [item]="subItem" [flag]="flag" [level]="0"></po-sidenav-item>
</ng-container>

<!-- Create Space -->
<a *ngIf="isCreateSpace(item)"
   class="item creatingSpace"
   fxLayout="row"
   fxLayoutAlign="start center"
   matRipple
   (click)="createSpaceDialog()"
   > <!-- routelink가 active인 상태에 추가할 class : 'active'-->

  <!-- icon은 level 0인 경우만 있음,
    fxFlex="none" : flex: 0 0 auto -->
  <mat-icon *ngIf="level === 0"  class="item-icon" fxFlex="none"> {{item.icon}} </mat-icon>
  <span class="item-label" fxFlex="auto">{{ item.label }}</span>

</a>