.mainContentContainer {
    margin: 0 auto;
    height: 100%;
}

.mainTitle {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}

.leaveTableContainer {
    min-width: 800px;
    max-width: 1200px;
    padding: 20px 20px;
    border: 1px solid rgba(238, 238, 238, 0.548);
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 15px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);

    .br_ltop {
        border-radius: 4px;
    }
}

.lineDivider {
    border-bottom: 1px solid #000;
}

.leftTable {
    border-radius: 4px;
    margin: 1px;
    padding: 20px;
    color: #fff;
    font-weight: 700;
    background-color: #00154F;
}

.rightTable {
    border-left: 1px solid #000;
    padding: 20px;
}

.availableDays {
    font-weight: bold;
}

.matFormSize {
    width: 200px;
}

.datePickSpace {
    margin: 0 10px;
}

.typeSection_1 {
    margin-right: 10px;
}

.demo-textarea {
    width: 100%;
    height: 150px;
    font-size: 18px;
    padding: 10px;
    font-family: 'Noto Sans', 'Roboto', "Helvetica Neue", sans-serif;
}

.btnSection_1 {
    margin-right: 10px;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}

.example-spacer {
    flex: 1 1 auto;
}

.approveBtn {
    background: #00154F;
    color: #fff;
    padding: 0 30px;
}

.cancelBtn {
    background: #969696;
    color: #fff;
    padding: 0 30px;
}






/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (max-width: 780px) {

    .datePickSpace {
        display: none;
    }
    
    .mat-dialog-container {
        padding: 0 !important;
    }

    .mainTitle {
        font-size: 20px;
        margin: 20px 15px;
    }

    .leaveTableContainer {
        min-width: 0;
        padding: 20px 0px;
    }
    
    .lineDivider {
        display: flex;
        width: 100%;
    }

    .leftTable {
        text-align: center;
        flex: 1 1 !important;
        padding: 5px 0;
        font-size: 0.7em;
        max-width: 20% !important;
    }

    .rightTable {
        // flex: 1 1 !important;
        max-width: 100%;
        padding: 10px;
        font-size: 0.7em !important; 
    }

    .matFormSize {
        width: 100% !important;
    }

    .typeSection_1 {
        margin: 0;
    }

    .demo-textarea {
        height: auto;
        padding: 0;
    }
  
    .requestLeaveBtn {
        margin-top: 20px;
    }

    .requestBtn {
        margin-top: 10px;
    }
    
}

::ng-deep.mat-dialog-container {
    @media  screen and (max-width: 780px) {
        padding: 15px !important;
    }
}

::ng-deep .cdk-overlay-pane {
    @media  screen and (max-width: 780px) {
        max-width: 94vw !important;
    }
}