table {
    width: 100%;
  }


.demo-table{
  table-layout: fixed;
  width: 100%;
}

.mat-header-row {
  // background-color: #273da0;
  background-color: #00154F;

  th {
      color: #fff;
  }
}

.mat-column-status{
  width:200px;
}
.mat-column-period{
  width:200px;
}

.mat-column-docTitle{
  width:550px;

}

.mat-column-creator{
  width:300px;
}

.mat-column-creatorAt{
  width:150px;
}
  .no-data{
    // width: 100%;
    // height: 60vh;
    padding-top: 100px;
    div{
      margin-bottom: 10px;
    }
    button{
      background-color: #00154F;
    }
    .flag-icon{
      font-size: 100px;
      width: 100px;
      height: 100px;
    }
    .btn-in-icon{
      margin-right: 10px;
    }
  }

@media screen and (max-width: 780px) {
    
    .docList {
        width: 100vw;
        word-break: break-all;
    }

    th {
        padding: 10px !important;
        font-size: 0.8em;
    }

    td {
        font-size: 0.7em;
        padding: 10px !important;
    }

    .no-data-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .no-data {
        width: 100vw;
        display: flex;
        padding: 100px 15px
    }
    .no-dataBtn {
        // width: 40%;
        margin: 0 0;
        font-size: 13px;
    }
}