<div class="chat_container">
    <form class="input_section" (ngSubmit)="submit()">
        <textarea #textarea rows="1" class="question_input" (keydown)="handleKeyDown($event)"
            placeholder="Please enter your question" [(ngModel)]="qustion"
            [ngModelOptions]="{standalone: true}"></textarea>
        <button [disabled]="waiting" type="submit" class="submit_button"><mat-icon>arrow_upward</mat-icon></button>
    </form>
    <section class="chat_section">
        @for(chat of history; track chat) {
        <div [innerHTML]="chat"></div>
        }
    </section>

</div>