.mainContentContainer {
  padding: 40px 40px;
  margin: 0 auto;
  //   height: 100%;
}

.mainTitle {
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
}

.historyTableBox {
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  // min-width: 1200px;
  margin-right: 0px;
}

.historyTable {
  width: 100%;
  text-align: center;

  th {
    text-align: center;
  }

  .w-20 {
    width: 20%;
  }

  .w-30 {
    width: 30%;
  }

  box-shadow: none;
}

.confirmBtn {
  background: #00154f;
  color: #fff;
  padding: 0 30px;
}

.cancelBtn {
  background: #c1c1c1;
  color: #fff;
  padding: 0 30px;
}

.mat-header-row {
  // background-color: #273da0;
  background-color: #00154f;

  th {
    color: #fff;
  }
}

///////////
.headerContainer {
  margin: 0 20px;

  div {
    font-size: 40px;
    margin: 10px;
  }
}

.titleBtn {
  float: right;
  vertical-align: middle;
}

.tableContainer {
  margin: 20px;
  min-width: 800px;
}

table {
  width: 100%;
}

td,
th {
  text-align: center !important;
  vertical-align: middle !important;
}

.mat-sort-header-container {
  justify-content: center !important;
}

.no-data {
  // width: 100%;
  // height: 50vh;
  padding-top: 100px;

  div {
    margin-bottom: 10px;
  }

  .flag-icon {
    font-size: 100px;
    width: 100px;
    height: 100px;
  }

  .btn-in-icon {
    margin-right: 10px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (max-width: 780px) {
  .mainContentContainer {
    padding: 10px 10px;
  }

  .mainTitle {
    margin: 20px auto;
  }

  .historyTable {
    word-break: break-all;

    th {
      padding: 0 10px;
    }

    td {
      padding: 0 10px;
      font-size: 0.8em;
    }
  }

  .no-data-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .no-data {
    width: 100vw;
    display: flex;
    padding: 0px 15px;
  }

  .no-dataBtn {
    // width: 40%;
    margin: 0 0;
    font-size: 13px;
  }

  .requestBtn {
    flex-direction: column !important;

    button {
      margin-right: 0px !important;
      padding: 3px;
      margin: 5px;
    }
  }
}
