$sidenav-width: 279px;
$sidenav-toolbar-height: 64px; // material default
$sidenav-toolbar-height-mobile: 56px; // material default <599px
//$sidenav-bgColor: #1a202e;
$sidenav-bgColor: #00154F;
//$sidenav-active-color: #141924;
$sidenav-active-color: #F4AF1B;

// #F4AF1B ffb412