<div class="dashContainer">
	<div class="dashContent">
		<div fxLayout="row">
			<div class="dashTitle">Dashboard</div>
		</div>

        <div fxLayout="column" fxLayoutGap="30px" class="dashWrap">
            <div
                fxLayout.gt-sm="row" 
                fxLayoutAlign.gt-sm="start center"
                fxLayoutGap.gt-sm="30px"
                fxLayout.lt-sm="column"
                fxLayoutAlign.lt-sm="start"
                fxLayoutGap.lt-sm="30px"
            >            
                <div 
                    id="dash"
                    class="dash dashBoxBuild" 
                    fxFlex.gt-sm="50"
                    fxFlex.lt-sm="100"
                    fxLayout="row" 
                    fxLayoutAlign="start center" 
                    fxLayoutGap="20px"
                    [ngStyle]="{'height.px': dashCommonHeight}"
                >
                    <div>
                        <img matCardImage class="dashImg" src="./assets/image/todo-list.png">
                    </div>
                    <div fxLayout="column" fxLayoutGap="20px">
                        <div class="dashName">
                            Hi, {{ userInfo?.name }}!
                        </div>
                        <div  class="dashDetail" *ngIf="userInfo?.emp_start_date != null">
                            <div>
                                Contract Start :  {{ userInfo?.emp_start_date | date:'YYYY-MM-dd' }}
                            </div>
                            <div>
                                Tenure today : {{ userInfo?.tenure_today }}
                            </div>
                            <div *ngIf="isRollover">
                                Rollover Period : {{ minDate }} ~ {{ maxDate }}
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div 
                    id="leaveBalance" 
                    class="dashBoxBuild" 
                    fxFlex.gt-sm="25" 
                    fxFlex.ls-sm="100" 
                    fxLayout="column" 
                    fxLayoutGap="10px"
                    [ngStyle]="{'height.px': dashCommonHeight}"
                >
                    <div>
                        <span class="fontBold">Leave Balance</span>
                    </div>
                    <div fxLayout="row"> 
                        <div class="leaveSubSection" fxFlex="60">
                            Annual Leave
                        </div>
                        <div fxLayout="row" fxFlex="40" fxLayoutAlign="end center">
                            <div class="leaveSubSection_sec daysSection">
                                <span class="fontBold">
                                    {{ leaveInfo?.annual_leave - leaveInfo?.used_annual_leave || 0}} 
                                </span> 
                                Day(s)
                            </div>
                            
                        </div>
                    </div>

                    <div fxLayout="row" fxFlex="40" fxLayoutAlign="end center" *ngIf="isRollover">
                        <div class="leaveSubSection">
                            Rollover
                        </div>
                        <div class="leaveSubSection_sec daysSection">
                            <span class="fontBold">
                                {{ leaveInfo?.rollover - leaveInfo?.used_rollover || 0}}
                            </span>Day(s)
                        </div>
                    </div>

                    <div fxLayout="row" fxFlex="40" fxLayoutAlign="end center">
                        <div class="leaveSubSection">
                            Sick Leave
                        </div>
                        <div class="leaveSubSection_sec daysSection">
                            <span class="fontBold">
                                {{ leaveInfo?.sick_leave - leaveInfo?.used_sick_leave || 0}}
                            </span>Day(s)
                        </div>
                    </div>

                    <div fxLayout="row" fxFlex="40" fxLayoutAlign="end center" *ngIf="company?.isReplacementDay">
                        <div class="leaveSubSection">
                            Replacement Leave
                        </div>
                        <div class="leaveSubSection_sec daysSection">
                            <span class="fontBold">
                                {{ leaveInfo?.replacement_leave - leaveInfo?.used_replacement_leave || 0}}
                            </span>Day(s)
                        </div>
                    </div>
                </div>
                
            
                
                <div 
                    id="todayDate" 
                    class="dashBoxBuild" 
                    fxFlex.gt-sm="25" 
                    fxFlex.ls-sm="100" 
                    fxLayout="row" 
                    fxLayoutAlign="center center" 
                    fxShow.gt-md 
                    fxHide.lt-md
                    [ngStyle]="{'height.px': dashCommonHeight}"
                >
                    <div class="fontBold">
                        {{ currentDate | date: 'YYYY.MM.dd' }}
                    </div>
                </div>
              
                
                
               
            </div>
        
            <div
                fxLayout.gt-sm="row" 
                fxLayoutAlign.gt-sm="start center"
                fxLayoutGap.gt-sm="30px"
                fxLayout.lt-sm="column"
                fxLayoutAlign.lt-sm="start"
                fxLayoutGap.lt-sm="30px"
            >
                <div fxFlex.gt-sm="50" fxFlex.lt-sm="100">
                    <div class="addMe">
                        <div fxLayout="row" fxLayoutAlign="start">
                            <div class="addTitle">
                                Company
                            </div>
                            <span class="example-spacer"></span>
                            <mat-icon class="closeMark" (click)="deleteCompany(company?.request_id)" *ngIf="company != null
                            ">close</mat-icon>
                        </div>

                        <div *ngIf="company?.length == 0 || company == undefined; else showCompanyInfo">
                            <div fxLayout="row" fxLayoutAlign="center">
                                <div >
                                    <mat-icon class="addMark"  (click)="openDialogFindMyCompany()">add</mat-icon>
                                </div>
                            </div>
                        </div>
                        <ng-template #showCompanyInfo>
                            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="20px">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <!-- <img matCardImage class="dashImg" src="./assets/image/todo-list.png"> -->
                                    <mat-icon class="addImage">business</mat-icon>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="center default">
                                    <div class="addDesc">
                                        <span class="descSpan">Company :</span> {{ company?.company_name | uppercase }}
                                    </div>
                                    <div class="addDesc">
                                        <span class="descSpan">Status :</span> {{ company?.status | titlecase }}
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>

                <!-- *ngIf="userInfo.isManager != true" -->
                <div fxFlex.gt-sm="50" fxFlex.lt-sm="100">
                    <div class="addMe">
                        <div fxLayout="row" fxLayoutAlign="start">
                            <div class="addTitle">
                                Manager
                            </div>
                            <span class="example-spacer"></span>
                            <mat-icon class="closeMark" (click)="deleteManager(manager.manager_id)" *ngIf="manager != null">close</mat-icon>
                        </div>

                        <div *ngIf="manager == null; else showManagerInfo">
                            <div fxLayout="row" fxLayoutAlign="center">
                                <div >
                                    <mat-icon class="addMark"  (click)="openDialogFindMyManager()">add</mat-icon>
                                </div>
                            </div>
                        </div>
                        <ng-template #showManagerInfo>
                            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="20px">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <!-- <img matCardImage class="dashImg" src="./assets/image/todo-list.png"> -->
                                    <mat-icon class="addImage">supervisor_account</mat-icon>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="center default">
                                    <div class="addDesc">
                                        <span class="descSpan">Manager Name :</span> {{ manager?.name }}
                                    </div>
                                    <div class="addDesc">
                                        <span class="descSpan">Manager Email :</span> {{ manager?.email }}
                                    </div>
                                    <div *ngIf="manager?.accepted === false; else statusPositive">
                                        <div class="addDesc">
                                            <span class="descSpan">status :</span> Pending
                                        </div>
                                    </div>
                                    <ng-template #statusPositive>
                                        <div class="addDesc">
                                            <span class="descSpan">status :</span> Approve
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <div>
                <div class="historyTableBox">
                    <div class="tableTitleBox table-pd-tb table-pd-lr" fxLayout="row" fxLayoutAlign="start center">
                        <div class="tableTitle">
                            Meeting Info
                        </div>   
                    </div>

                    <table mat-table [dataSource]='meetingArray' class="mat-elevation-z8 historyTable">
                        <ng-container matColumnDef="spaceName">
                            <th mat-header-cell *matHeaderCellDef> Space Title </th>
                            <td mat-cell *matCellDef="let element"> {{element.meetingTitle}} </td>
                        </ng-container>
                        <ng-container matColumnDef="docTitle">
                            <th mat-header-cell *matHeaderCellDef> Doc Title </th>
                            <td mat-cell *matCellDef="let element"> {{element.meetingTitle}} </td>
                        </ng-container>
                        <ng-container matColumnDef="meetingTitle">
                            <th mat-header-cell *matHeaderCellDef> Meeting Title</th>
                            <td mat-cell *matCellDef="let element"> {{element.meetingTitle}} </td>
                        </ng-container>
                        <ng-container matColumnDef="start_date">
                            <th mat-header-cell *matHeaderCellDef> Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.start_date | date: 'YYYY-MM-dd'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Enter">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <mat-icon class="cursor" (click)="joinMeeting(element)">meeting_room</mat-icon>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">
                              No data
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div>
                <div class="space_alarm">
                    space - issue
                    <table *ngFor="let item of spaceAlarm">
                        <tbody>
                            <tr (click)="naviSpaceDoc(item)">
                                <th>
                                    {{item.space_name}}
                                </th>
                                <td>
                                    {{item.content}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->

    </div>
</div>

  
            


        












