<div class="min-h-screen bg-[#ececece6] flex justify-center items-center">
  <mat-card class="w-[400px] p-10">
    <mat-card-header class="flex flex-col items-center gap-1">
      <div class="mb-8">
        <img src="assets/logo/logo-potatocs.png" alt="" />
      </div>

      <div
        *ngIf="!isShowed; else emailSentNoti"
        class="flex flex-col items-center gap-1"
      >
        <div>
          <mat-card-title class="text-[#373737]"
            >Please enter your email</mat-card-title
          >
        </div>
        <div class="text-[#aaaaaa] text-[14px]">
          The verification code will be emailed to you
        </div>
      </div>

      <ng-template #emailSentNoti>
        <div class="flex flex-col items-center">
          <div>
            <mat-card-title class="text-[#373737]">
              Please enter a verification code.
            </mat-card-title>
          </div>
          <div class="text-[#aaaaaa] text-[14px]">
            If the code is correct, temporary password will be sent to your
            email.
          </div>
        </div>
      </ng-template>
    </mat-card-header>
    <mat-card-content>
      <form
        #emailForm="ngForm"
        (ngSubmit)="emailForm.form.valid && getEcode()"
        class="flex flex-col items-center m-10"
      >
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="emailFormData.email"
            name="email"
            spellcheck="false"
            pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            [disabled]="isDisabled"
            required
          />
        </mat-form-field>

        <mat-form-field *ngIf="isShowed">
          <input
            matInput
            type="text"
            placeholder="code"
            [(ngModel)]="emailFormData.eCode"
            name="eCode"
            spellcheck="false"
          />
        </mat-form-field>

        <div *ngIf="!isShowed">
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="!emailForm.form.valid"
            class="w-[210px] mt-2"
          >
            Continue
          </button>
        </div>

        <div *ngIf="isShowed">
          <button
            type="button"
            mat-raised-button
            (click)="getTempPw()"
            class="w-[210px] mt-2"
          >
            Confirm
          </button>
        </div>
      </form>
    </mat-card-content>
    <div
      [routerLink]="['/sign-in']"
      class="flex justify-center cursor-pointer text-[#00154fd6] font-bold mb-5"
    >
      Back to login
    </div>
  </mat-card>
</div>
