<div class="min-h-screen bg-[#ececece6] flex justify-center items-center">
  <mat-card class="w-[400px] p-10">
    <mat-card-header class="flex flex-col items-center gap-1">
      <div class="mb-8">
        <img src="assets/logo/logo-potatocs.png" alt="" />
      </div>
      <div>
        <mat-card-title class="text-[#373737]">Welcome</mat-card-title>
      </div>
      <div class="text-[#aaaaaa] text-[14px]">
        Sign in with your credentials below
      </div>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="signInForm"
        (ngSubmit)="signInForm.valid && signIn()"
        class="flex flex-col items-center m-10"
      >
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            type="text"
            formControlName="email"
            name="email"
            spellcheck="false"
            required
          />
          <mat-error *ngIf="signInForm.controls['email'].hasError('required')">
            Please enter the email.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            name="password"
            required
          />
          <mat-error
            *ngIf="signInForm.controls['password'].hasError('required')"
          >
            Please enter the password.
          </mat-error>
          <mat-error
            *ngIf="
              signInForm.controls['password'].hasError('minlength') ||
              signInForm.controls['password'].hasError('maxlength')
            "
          >
            Please enter 4-15 characters.
          </mat-error>
        </mat-form-field>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="!signInForm.valid"
          class="w-[210px] mt-2"
        >
          Sing In
        </button>
      </form>
    </mat-card-content>
    <div
      [routerLink]="['/find-pw']"
      class="flex justify-center cursor-pointer text-[#00154fd6] font-bold mb-5"
    >
      Forgot password?
    </div>
  </mat-card>
</div>
