.mainContentContainer {
  padding: 40px 40px;
  margin: 0 auto;
  height: 100%;
}

.mainTitle {
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
}

.historyTableBox {
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  // min-width: 1200px;
}

.historyTable {
  width: 100%;
  text-align: center;

  th,
  td {
    text-align: center;
  }

  box-shadow: none;
}

.mat-header-row {
  // background-color: #273da0;
  background-color: #00154f;

  th {
    color: #fff;
  }
}

.filter {
  background-color: #fff;
}

.center-text {
  text-align: center;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (max-width: 780px) {
  .mainContentContainer {
    padding: 10px 10px;
  }

  .mainTitle {
    margin: 20px auto;
  }

  .historyTable {
    word-break: break-all;

    th {
      padding: 0 10px;
    }

    td {
      padding: 0 10px;
      font-size: 0.8em;
    }
  }
}
