.contaioner {
	width: 470px;
}

.inputContainer {
	margin-top: 1.25em;

	.mat-form-field {
		display: initial;
	}
}
.mainTitle {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
}

.deleteOption {
	.mat-button {
		color: rgb(184, 184, 184);
	}
	position: relative;
	bottom: 10px;

	display: flex;
	justify-content: center;
}

.deleteOption {
	.mat-button:hover {
		color: rgb(83, 83, 83);
	}
}

.adminIconCover {
	align-self: flex-start;
}

.adminIconCover .mat-icon {
	text-align: center;
	align-content: center;
	vertical-align: middle;
	border-radius: 50%;

	padding: 1px;
}

.adminIcon {
	font-size: 1px;
	color: #ffffff;
	height: 12px;
	width: 12px;
}
.settingIcon {
	font-size: 17px;
	color: #807b7ba4;
	cursor: pointer;
	height: 33px;
}
.memberList {
	display: flex;
	flex-wrap: wrap;
	// width: 250px;
	margin-top: 10px;
	margin-bottom: 20px;
	// margin-left: 20px;
	justify-content: space-around;
}

.demo-table {
	width: 100%;
	text-align: center;

	th {
		text-align: center;
	}
}

//
.optionLabel {
	font-size: 18px;
	font-weight: bold;
}

::ng-deep .mat-form-field-wrapper {
	padding-bottom: 0;
}

.clickBtn {
	background: #00154f;
	color: #fff;
	padding: 0 30px;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
	padding: 0.4em 0px !important;
}
::ng-deep .mat-form-field-label-wrapper {
	top: -1.5em;
}

::ng-deep
	.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
	.mat-form-field-label {
	transform: translateY(-1.1em) scale(0.75);
	width: 133.33333%;
}

.mg-20 {
	margin: 10px 0;
}

.mat-header-row {
	background-color: #00154f;

	th {
		color: #fff;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (max-width: 780px) {
	.emailInput {
		width: 100% !important;
		min-width: 0 !important;
		margin: 0 !important;
	}

	.spaceBtn {
		position: relative;
		bottom: 20px;
	}

	.memberList {
		word-break: break-all;
		width: 100%;
		margin-bottom: 20px;

		td {
			font-size: 0.8em;
			padding: 5px;
		}
	}
}

::ng-deep .cdk-overlay-pane {
	@media screen and (max-width: 780px) {
		max-width: 94vw !important;
	}
}

::ng-deep .mat-dialog-container {
	@media screen and (max-width: 780px) {
		// padding: 24px 15px !important;
	}
}

//hokyun - 2022-08-16
.label-plus-button-container {
	display: flex;
	justify-content: center;
	width: 20px;

	.mat-fab {
		width: 20px;
		height: 20px;
		line-height: 20px;
		background-color: red;
		&::ng-deep .mat-button-wrapper {
			line-height: 20px;
			padding: 0;
		}
	}
}

.Label-select {
	::ng-deep.mat-select-arrow {
		display: none;
	}
}

.label-lists {
	margin: 2px 0;
	border-radius: 10px;
}

.labels-input {
	border: none;
	background: none;
	margin-right: 10px;
	color: #fff;
	font: bolder;
	padding: 5px;
	font-size: 15px;

	:focus {
		border-color: #00154f;
		border: 6px;
	}
}
